!!! Strict
%html{ html_attrs("en_us")}
  %head
    %title 
      My Scrum Admin
      = if_not_blank(@title, " | ")

    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/

    - %w(jquery-1.7.2.min.js jquery-ui-1.8.21.custom.min.js jquery.dataTables.min.js jquery.contextMenu.js application.js).each do |j|
      %script{:type => 'text/javascript', :language => 'javascript', :src => "/js/#{j}"}

    %link{:rel => "stylesheet", :type => "text/css",  :href => "/css/site.css"}
    %link{:rel => "stylesheet", :type => "text/css",  :href => "/css/admin.css"}
    %link{:rel => "stylesheet", :type => "text/css",  :href => "/stylesheets/jquery.contextMenu.css"}
    %link{:rel => "stylesheet", :type => "text/css",  :href => "/stylesheets/jqui-vetsk-admin/vetsk-admin.css"}
    %link{:rel => "stylesheet", :href => '/css/admin768.css', :media => "only screen and (min-width: 768px)"}

    %link{:href => 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700|Waiting+for+the+Sunrise', :rel => 'stylesheet', :type => 'text/css'}
       
    
  %body{:class => @bclass, :id => @bid}
    
    -# show flash message if any (from sinatra-flash)
    =styled_flash
    
    #header
      - if @current_admin
        #loggedinas
          %strong #{@current_admin.name}
          %a{:href => '/admin/logout'} logout
    #nav
      #topbar
        %li
          %a{:href => '/admin/'} home

        %li
          %ul.dropdown-menu
            %li
              %a{:href => '/admin/profiles'} Admins
            %li
              %a{:href => '/admin/owners'} Owners
                


    /content from views spits out here
    #content{:"data-role" => 'content', :class => @cclass}
      = show_breadcrumbs
      = yield
      

    #footer
      %span.floatleft ©#{Date.today.year} My Scrum