!!!
%a{:href => "/owner/projects/#{@project.pk}/show#tab3"} Back to project
%h1= "Create new sprint"
%fieldset
  %legend Sprint details
  %body
    = form_for @sprint, :action => "/owner/projects/#{@project.pk}/sprint/create" do |f|
      %fieldset
        %label{:for => :start_date} Select date
        %select{:name => "day", :required => true}
          -(1..31).each do |i|
            %option{:value => i}=i
        %select{:name => "month"}
          -["january", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "december"].each_with_index do |v, i|
            %option{:value => i.to_i+1}=v
        %select{:name => "year"}
          -("2010".."2050").each do |i|
            %option{:value => i}=i
        - if !@sprint.errors.on(:start_date).nil?
          .field_with_errors
            .red= @sprint.errors.on(:start_date).first
        = f.select :duration, :options => ("1".."7").to_a, :required => true
        %label{:for => "userstories"} User Stories
        %select{:id => "userstories", :name => "userstories[]", :multiple => true}
          -@user_stories.each do |u|
            %option{:value => u.pk}= u.title
        = f.submit "Submit"
