.wrapsections
  .panel
    %fieldset
      %legend Project
      .tabs
        %ul
          %li.tab
            %a.nolink{:href => '#tab1'} Details
          %li.tab
            %a{:href => '#tab2'} Team
          %li.tab
            %a{:href => '#tab3'} Sprints
          %li.tab
            %a{:href => '#tab4'} Backlog
        .clear

        #tab1 
          %a.addmore{:href  => "/admin/projects/#{@project.pk}/edit"} Edit Details
          %h1 Project Details
          %table
            %tr
              %th Title
              %td= @project.title
            %tr
              %th Description
              %td= @project.description
            %tr
              %th Repository
              %td= @project.repo rescue '-'
            %tr
              %th Public
              %td= @project.public ? "Yes" : "No"
          -# if @current_owner.scrumMaster?

        #tab2.pane
          %a.addmore#team_edit{:href  => "/admin/projects/#{@project.pk}/users/add"} Edit collaborators
          %h1 Project Team
          %table.datatable#collaborators
            %thead
              %tr
                %th Name
                %th Role
                %th.right.nosort Actions
            %tbody
              - @team.each do |t|
                %tr
                  %td= t.username ? t.username : t.name
                  - role = @project.users_dataset.where(:user => t.pk).first
                  %td= role[:position].split.map(&:capitalize)*' ' rescue '-'
                  %td.right.actions
                    %a#remove{:onclick => "return confirm('Are you sure?')", :href => "/admin/projects/#{@project.pk}/remove_user/#{t.pk}"} 
                      %img{:src=>"/img/icons/delete.png", :title => "Remove"}

        #tab3.pane
          %a.addmore{:href  => "/admin/projects/#{@project.pk}/sprint/new"} Create new Sprint
          %h1 Project Sprints
          %table.datatable
            %thead
              %tr
                %th Charts
                %th User Stories
                %th Start Date
                %th Duration (days)
                %th.right.nosort Actions
            %tbody
              - @sprints.each do |s|
                %tr.selectable{:rel => "/admin/projects/#{@project.pk}/sprints/#{s.pk}/show"}
                  %td= " "
                  %td
                    - s.user_stories.each do |u|
                      %p= u.title
                  %td= s.start_date
                  %td= s.duration
                  %td.right.actions
                    %a{:href => "/admin/projects/#{@project.pk}/sprints/#{s.pk}/show"} 
                      %img{:src=>"/img/icons/view.png", :title => "View sprint #{s.pk}"}
                    %a{:href => "/admin/projects/#{@project.pk}/sprints/#{s.pk}/edit"}
                      %img{:src => '/img/icons/edit.png', :title => "Edit sprint #{s.pk}"}

        #tab4.pane
          %a.addmore{:href  => "/admin/projects/#{@project.pk}/user_stories/new"} Create new User Story
          %h1 Project User Stories
          %table.datatable
            %thead
              %tr
                %th Title
                %th Description
                %th Priority
                %th Difficulty
                %th Finished
                %th Validated
                %th.right.nosort Actions
            %tbody
              - @user_stories.each do |u|
                %tr.selectable{:rel => "/admin/user_stories/#{u.pk}/show"}
                  %td= u.title
                  %td= u.description
                  %td= u.priority
                  %td= u.difficulty
                  %td= u.finished ? "Yes" : "No"
                  %td= u.valid ? "Yes" : "No"
                  %td.right.actions
                    %a{:href => "/admin/user_stories/#{u.pk}/show"}
                      %img{:src => '/img/icons/view.png', :title => "view #{u.title}"}
                    %a{:href => "/admin/user_stories/#{u.pk}/edit"}
                      %img{:src => '/img/icons/edit.png', :title => "edit #{u.title}"}

    .dialog.hidden#assign_devs
      %label Select a Project Member
      %select#dev_list
        - Owner.all.each do |u|
          %option.dev{:value => u.pk}= u.username
      %form#dev_form{:action => "/admin/projects/#{@project.pk}/add_developers", :method => :post}
        %button#save_devs{:type => 'submit'} Save

:javascript
  $(document).ready(function(){
    $('#team_edit').click(function(e){
      e.preventDefault();
      $('#assign_devs').dialog();
    });

    $('#dev_list').change(function(){
      var selected = $(this).find(':selected');
      $('#dev_form').prepend('<span id="' + selected.attr('value') + '">' + 
                              selected.text() + '\
                              <select name="role[' + selected.text() + ']">\
                                <option value="developer">Developer</option>\
                                <option value="product owner">Product Owner</option>\
                                <option value="scrum master">Scrum Master</option>\
                              </select>\
                              <img class="delete" src="/img/icons/delete.png" data-id="' + selected.attr('value') + '"/>\
                              </span><div class="clear"></div>');
      selected.attr('disabled', 'disabled');

      $('.delete').click(function() {
        $('#' + $(this).data('id')).remove();
        selected.removeAttr('disabled');
      });
    });

    $('#save_devs').click(function(e) {
      e.preventDefault();
      var form = $('#dev_form');
      $.post(form.attr('action'), form.serialize(), function(res){
        if(res == "OK") {
          form.children('span').remove();
          $('#assign_devs').dialog('close');
          // TODO find way to dynamically replace data in table
          /*form.children('span').each(function() {
            $('#collaborators').dataTable().fnAddData([
              $(this).clone().children().remove().end().text(),
              $(this).children('select').find(':selected').text(),
              '<a href="/admin/projects/1/remove_user/2" id="remove"><img src="/img/icons/delete.png" title="Remove"></a>'
            ]);
          });*/
        }
      });
    });
  });
