%img{:src => "http://#{CONFIG['domain']}/img/logo_klinic_280.png"}

%h2 Appointment ready for booking

%p Dear #{@appointment.owner.first_name || Client}

%p Your follow-on appointment for #{@appointment.pets_name} has been set up by our staff, ready for you to choose a date and time that suits you.

%p
  Please
  %a{:href => "http://#{CONFIG['domain']}/owner/appointments/#{@appointment.id}/book_prepare?token=#{@appointment.owner.auth_token}"} click here
  to log in to your account to select a date and time and to confirm the appointment.


%p If you have any queries about your appointment, please call us on #{CONFIG['contact_telephone']}.

%p 
  Best wishes,
  %br/
  The Team at Vet’s Klinic