%img{:src => "http://#{CONFIG['domain']}/img/logo_klinic_280.png"}

%h2 Estimate summary

- @estimate.pets.each do |pet|
  %h3= pet.first_name
  
  - (cpp = @estimate.pet_procedures.select{|x| x.pet_id == pet.pk}).each do |pp|
    %table
      %thead
        %th Procedure
        %th Net
        %th VAT
        %th Total
      %tbody
        %tr
          %td= pp.procedure.name
          %td= money(pp.net)
          %td= money(pp.vat)
          %td= money(pp.net+pp.vat)

%p
  Book your estimate by visiting:
  - url = "http://#{CONFIG['domain']}/owner/appointments/#{@estimate.pk}/book_prepare"
  %a{:href => url}= url