%a{:href => "/admin/addmin_users"} add new
%h1 Admin Users

%table{:style => "width: 100%"}
  %thead
    %tr
      %th Login
      %th Name
      %th Email
      %th Actions
  %tbody    
    - @admin_users.each do |f|
      %tr
        %td= f.login
        %td= f.name
        %td= f.email
        %td
          %a{:href => "/admin/admin_users/#{f.id}"} edit
          %a.delete_link{:href => "/admin/addmin_users/#{f.id}", :rel => "Are you sure you want to delete this addmin user?", :rev => "/admin/addmin_users"} delete
