!!!
- @title = "User Stories"

= form_for @userstory do |f|
  %fieldset
    %legend Create New User Story
    = f.input :title, :label => 'Title'
    = f.textarea :description, :input_options => {:rows => 6}, :label => 'Description'
    = f.input :priority, :label => 'Priority'
    = f.input :diffilculty, :label => 'Diffilculty'
  %fieldset
    //%button{type: "submit"} Create
    %input{:type => "submit", :value => "Create"}