!!!

.wrapsections
  .panel
    %fieldset
      %legend User Story 
      %link{href: "style.css", media: "all", rel: "stylesheet", type: "text/css"}/
      %table
        %tr
          %th Id
          %td= @userstory.id
        %tr
          %th Title
          %td= @userstory.title
        %tr
          %th Description
          %td= @userstory.description
        %tr
          %th Priority
          %td= @userstory.priority
        %tr
          %th Diffilculty
          %td= @userstory.diffilculty
        %tr
          %th Finished
          %td= @userstory.finished
        %tr
          %th Validate
          %td= @userstory.isvalidate
          
      %a.badge{:href  => '/owner/profile'} Edit


