!!!
%html
  %head
    %meta{charset: "UTF-8"}/
    %Account Settings
    %link{href: "style.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %body
    = form_for @user, :enctype => 'multipart/form-data' do |f|
      %ol
        %legend Edit Profile
      %fieldset
        %ol
          %li
            = f.input :name, :label => 'First Name'
          %li
            = f.input :name, :label => 'Last Name'
          %li
            = f.input :username, :label => 'Username'
          %li
            = f.input :email, :label => 'Email'
          %li
            = f.input :password, {:type => 'password', :label => "New Password"}
          %li
            = f.input :password_confirmation, {:type => 'password', :label => "Confirm"}
      %fieldset
        %button{type: "submit"} Update

- @name = User.name
%h3
  #{@user.first_name}
