!!!
%fieldset
  %legend Account Settings
  %body
  = form_for @current_owner, :action => '/owner/update' do |f|
    %fieldset
      %legend Edit Profile
      = f.input :first_name, :label => 'First Name'
      = f.input :last_name, :label => 'Last Name'
      = f.input :username, :label => 'Username'
      = f.input :email, :label => 'Email'
      = f.input :password, {:type => 'password', :label => "New Password"}
      = f.input :password_confirmation, {:type => 'password', :label => "Confirm"}
    %fieldset
      %button{type: "submit"} Update
