!!!
%fieldset
  %legend Project Settings
  %body
    //= form_for @project, :action => "/owner/projects/#{@project.pk}/update" do |f|
    = form_for @project do |f|
      
      %fieldset
        = f.input :title, :label => 'Title'
        = f.input :repo, :label => 'Repository'
        = f.submit "Submit"
