!!!
%h1= @project.new? ? "Create Project" : "Edit #{@project.title}"
%fieldset
  %legend Project Details
  %body
    = form_for @project do |f|
      %fieldset
        = f.input :title, :label => 'Title'
        = f.input :repo, :label => 'Repository'
        = f.checkbox :public, :label => 'Public'
        = f.submit "Submit"
