!!!
%h1= @project.new? ? "Create Project" : "Edit #{@project.title}"
%fieldset
  %legend Project Details
  = form_for @project do |f|
    %fieldset
      = f.input :title, :label => 'Title'
      = f.textarea  :description, :input_options => {:rows => 6}, :label => 'Description'
      = f.input :repo, :label => 'Repository'
      = f.checkbox :public, :label => 'Public'
      = f.submit "Submit"
