!!!Strict
-@bclass = 'project edit'

.content
  %table.datatable{:style => "width: 100%"}
    %thead
      %tr
        %th Title
        %th Repository
        %th isPublic
        %th.right.nosort Actions
    %tbody    
      - @projects.each do |p|
        %tr.selectable{:rel => "/owner/projects/#{p.pk}/show"}
          %td= p.title
          %td= p.repo
          %td= p.public
          %td.right.actions
            %a{:href => "/owner/projects/#{p.pk}/show"}
              %img{:src => '/img/icons/view.png', :title => "view #{p.title}"}
            %a{:href => "/owner/projects/#{p.pk}/edit"}
              %img{:src => '/img/icons/edit.png', :title => "edit #{p.title}"}

