!!!
.wrapsections
  .panel
    %fieldset
      %legend Project
      .tabs
        %ul
          %li.tab
            %a.nolink{:href => '#tab1'} Details
          %li.tab
            %a{:href => '#tab2'} Team
          %li.tab
            %a{:href => '#tab3'} Sprints
          %li.tab
            %a{:href => '#tab4'} Backlog
        .clear

        #tab1 
          %a.badge{:href  => "/owner/projects/#{@project.pk}/edit"} Edit Details
          %table
            %tr
              %th Title
              %td= @project.title
            %tr
              %th Description
              %td= @project.description
            %tr
              %th Repository
              %td= @project.repo
            %tr
              %th Public
              %td= @project.public ? "Yes" : "No"
          -# if @current_owner.scrumMaster?

        #tab2.pane
          %a.badge{:href  => "/owner/projects/#{@project.pk}/users/add"} Edit collaborators
          %table.datatable
            %thead
              %tr
                %th Name
                %th Role
                %th Actions
            %tbody
              - @team.each do |t|
                %tr
                  %td= t.username ? t.username : t.name
                  - role = @roles.where(:user => t.pk).first
                  %td= role[:position].capitalize rescue '-'
                  %td
                    %a#remove{:href => "/owner/projects/#{@project.pk}/remove_user/#{t.pk}"} 
                      %img{:src=>"/img/icons/view.png", :title => "Remove "}

        #tab3.pane
          %a.badge{:href  => "/owner/projects/#{@project.pk}/sprint_create"} Create new Sprint
          %table.datatable
            %thead
              %tr
                %th Charts
                %th User Stories
                %th Start Date
                %th Duration (days)
                %th Actions
            %tbody
              - @sprint.each do |t|
                %tr.selectable{:rel => "/owner/projects/#{@project.pk}/sprints/#{t.pk}/show"}
                  %td= " "
                  %td= " "
                  %td= t.start_date
                  %td= t.duration
                  %td= " "

        #tab4.pane
          %a.badge{:href  => "/owner/projects/#{@project.pk}/user_stories/create"} Create new User Story
          %table.datatable
            %thead
              %tr
                %th Title
                %th Description
                %th Priority
                %th Difficulty
                %th Finished
                %th Validated
                %th.right.nosort Actions
            %tbody
              - @user_stories.each do |u|
                %tr.selectable{:rel => "/owner/user_stories/#{u.pk}/show"}
                  %td= u.title
                  %td= u.description
                  %td= u.priority
                  %td= u.diffilculty
                  %td= u.finished ? "Yes" : "No"
                  %td= u.valid ? "Yes" : "No"
                  %td.right.actions
                    %a{:href => "/owner/user_stories/#{u.pk}/show"}
                      %img{:src => '/img/icons/view.png', :title => "view #{u.title}"}
                    %a{:href => "/owner/user_stories/#{u.pk}/edit"}
                      %img{:src => '/img/icons/edit.png', :title => "edit #{u.title}"}




