!!!
.wrapsections
  .panel
    %fieldset
      %legend= @project.title
      .tabs
        %ul
          %li.tab
            %a.nolink{:href => '#tab1'} Details
          %li.tab
            %a{:href => '#tab2'} Team
          %li.tab
            %a{:href => '#tab3'} Sprints
          %li.tab
            %a{:href => '#tab4'} Backlog
          %li.tab
            %a{:href => '#tab5'} Tests
        .clear

        #tab1 
          - if @rights
            %a.badge{:href  => "/owner/projects/#{@project.pk}/edit"} Edit Details
          %table
            %tr
              %th Title
              %td= @project.title
            %tr
              %th Description
              %td= @project.description
            %tr
              %th Repository
              %td
                %a{:href => "#{@project.repo}"}= @project.repo
            %tr
              %th Public
              %td= @project.public ? "Yes" : "No"
          -# if @current_owner.scrumMaster?

        #tab2.pane
          - if @rights
            %a.badge{:href  => "/owner/projects/#{@project.pk}/users/add"} Edit collaborators
          %table.datatable
            %thead
              %tr
                %th Name
                %th Role
                %th.right.nosort Actions
            %tbody
              - @team.each do |t|
                %tr
                  %td= t.username ? t.username : t.name
                  - role = @roles.where(:user => t.pk).first
                  %td= role[:position].capitalize rescue '-'
                  %td.right.actions
                    - if @rights or t.pk == @current_owner.pk
                      %a#remove{:onclick => "return confirm('Are you sure?')", :href => "/owner/projects/#{@project.pk}/remove_user/#{t.pk}"} 
                        %img{:src=>"/img/icons/cross.png", :title => "Remove"}

        #tab3.pane
          - if @rights
            %a.badge{:href  => "/owner/projects/#{@project.pk}/sprint/create"} Create new Sprint
          %table.datatable#sprint
            %thead
              %tr
                %th Info
                %th User Stories
                %th Start Date
                %th Duration (days)
                %th Actions
            %tbody
              - @sprints.each do |s|
                %tr
                  %td.center.actions
                    - str = ""
                    - img = ""
                    - fulltime = s.start_date + s.duration * 24 * 60 * 60
                    - closed = false

                    - if !s.commit.nil?
                      - str = "Closed"
                      - closed = true
                      %img{:src => "/img/icons/check.png", :title => "Closed"}
                    - elsif fulltime < Time.now
                      - str = "Expired"
                      %img{:src => "/img/icons/time.png", :title => "Expired"}
                    - elsif s.start_date > Time.now
                      - str = "Not started yet"
             
                    - elsif s.start_date <= Time.now and fulltime >= Time.now
                      - str = "Ongoing"
                      %img{:src => "/img/icons/arrow.png", :title => "Ongoing"}
                    - editable = true
                    - if str.eql?("Expired") or str.eql?("Closed")
                      - editable = false

                    - jobs_done = []
                    - s.user_stories.each do |u|
                      - u.jobs.each do |j|
                        - if j.status == "done"
                          - jobs_done << j
                    - if jobs_done.length > 0
                      %br
                      %br
                      %a{:href => "/owner/projects/#{@project.pk}/sprints/#{s.pk}/burndown_chart/show"} 
                        %img{:src=>"/img/icons/chart.png", :title => "Burndown Chart"}
                  %td
                    %table
                      - s.user_stories.each do |u|
                        %tr
                          %td.center= u.title
                  %td.center= s.start_date
                  %td.center= s.duration
                  %td.right.actions
                    %a{:href => "/owner/projects/#{@project.pk}/sprints/#{s.pk}/show"} 
                      %img{:src=>"/img/icons/view.png", :title => "View sprint"}
                    - if editable
                      %a{:href => "/owner/projects/#{@project.pk}/sprints/#{s.pk}/edit"}
                        %img{:src => '/img/icons/edit.png', :title => "Edit sprint"}
                    - if !closed
                      %a{:onclick => "return commitPrompt(#{s.pk})", :href => "?#tab3"}
                        %img{:src => '/img/icons/cross.png', :title => "Close sprint"}
        #tab4.pane
          %a.badge{:href  => "/owner/projects/#{@project.pk}/user_stories/create"} Create new User Story
          %table.datatable
            %thead
              %tr
                %th Title
                %th Description
                %th Priority
                %th Difficulty
                %th Finished
                %th Validated
                %th.right.nosort Actions
            %tbody
              - @user_stories.each do |u|
                %tr
                  %td= u.title
                  %td= u.description
                  %td= u.priority
                  %td= u.difficulty
                  %td.center
                    - if u.finished
                      %img{:src => '/img/icons/yes.png'}
                    - else
                      %img{:src => '/img/icons/no.png'}
                  %td.center
                    - if u.valid
                      %img{:src => '/img/icons/yes.png'}
                    - else
                      %img{:src => '/img/icons/no.png'}
                  %td.right.actions
                    %a{:href => "/owner/projects/#{@project.pk}/user_stories/#{u.pk}/show"}
                      %img{:src => '/img/icons/view.png', :title => "View #{u.title}"}
                    %a{:href => "/owner/projects/#{@project.pk}/user_stories/#{u.pk}/edit"}
                      %img{:src => '/img/icons/edit.png', :title => "Edit #{u.title}"}

        #tab5.pane
          %a.badge{:href  => "/owner/projects/#{@project.pk}/test/create"} Create new Test
          %table.datatable
            %thead
              %tr
                %th Title
                %th State
                %th Tester
                %th.right.nosort Actions
            %tbody
              - @tests.each do |t|
                - @tester = Owner.find(:id => t.owner_id)
                %tr
                  %td= t.title
                  %td.center
                    - case t.state
                    - when "not_tested"
                      %img{:src => '/img/icons/question.png', :title => "Not tested"}
                    - when "failed"
                      %img{:src => '/img/icons/no.png', :title => "Test failed"}
                    - when "success"
                      %img{:src => '/img/icons/yes.png', :title => "Test successful"}
                  %td.center= @tester.username
                  %td.right.actions
                    %a{:href => "/owner/projects/#{@project.pk}/user_stories/#{t.user_story.pk}/tests/#{t.pk}/show"}
                      %img{:src => '/img/icons/view.png', :title => "View #{t.title}"}
                    %a{:href => "/owner/projects/#{@project.pk}/user_stories/#{t.user_story.pk}/tests/#{t.pk}/edit"}
                      %img{:src => '/img/icons/edit.png', :title => "Edit #{t.title}"}
                    %a{:onclick => "return confirm(\"Are you sure?\\n\\nThis operation is irreversible.\")", :href => "/owner/projects/#{@project.pk}/user_stories/#{t.user_story.pk}/tests/#{t.pk}/remove"}
                      %img{:src=>"/img/icons/cross.png", :title => "Remove"}


:javascript
  $(document).ready(function() {
  var oTable = $('#sprint').dataTable();
  
  oTable.fnSort( [ [2,'asc'] ] );

  });

  function commitPrompt(sid) {
  var vcommit=prompt("Enter the URL of the Sprint's last commit (optional)","None");
  
  if (!vcommit){
  return false;
  }
  else{
  $.post("/owner/projects/#{@project.pk}/sprints/" + sid + "/close", { commit: vcommit} );
  }
  }
