!!!
.wrapsections
  .panel
    %fieldset
      %legend Project
      .tabs
        %ul
          %li.tab
            %a.nolink{:href => '#tab1'} Details
          %li.tab
            %a{:href => '#tab2'} Team
        .clear

        #tab1 
          %table
            %tr
              %th Title
              %td= @project.title
            %tr
              %th Description
              %td= @project.description
            %tr
              %th Repository
              %td= @project.repo
            %tr
              %th Public
              %td= @project.public ? "Yes" : "No"
          -# if @current_owner.ScrumMaster?
          %a.badge{:href  => "/owner/projects/#{@project.pk}/edit"} Edit

        #tab2.pane
          %table.datatable
            %thead
              %tr
                %th Name
                %th Role
                %th Actions
            %tbody
              - @team.each do |t|
                %tr
                  %td= t.username ? t.username : t.name
                  %td= "role"
                  %td
                    %a#remove{:href => "/owner/projects/#{@project.pk}/remove_owner/#{t.pk}", :"data-pid" => "#{@project.pk}", :"data-oid" => "#{t.pk}"} 
                      %img{:src=>"/img/icons/view.png", :title => "Remove "}
          %a.badge{:href  => "/owner/projects/#{@project.pk}/users/add"} Edit collaborators

:javascript
  $(function() {
    $('#remove').click(function(e) {
      e.preventDefault();
      $.post($(this).attr('href'), {'pid': $(this).attr('data-pid'), 'oid': $(this).attr('data-oid')}, function(r){
        //$('#ajax_spinner').hide();
        if(r == "OK"){
          $(this).hide();
        }
      });
    });
  });



