!!!
.wrapsections
  .panel
    %fieldset
      %legend Project
      .tabs
        %ul
          %li.tab
            %a.nolink{:href => '#tab1'} Details
          %li.tab
            %a{:href => '#tab2'} Team
          %li.tab
            %a{:href => '#tab3'} Sprints
        .clear

        #tab1 
          %table
            %tr
              %th Title
              %td= @project.title
            %tr
              %th Description
              %td= @project.description
            %tr
              %th Repository
              %td= @project.repo
            %tr
              %th Public
              %td= @project.public ? "Yes" : "No"
          -# if @current_owner.ScrumMaster?
          %a.badge{:href  => "/owner/projects/#{@project.pk}/edit"} Edit

        #tab2.pane
          %table.datatable
            %thead
              %tr
                %th Name
                %th Role
                %th Actions
            %tbody
              - @team.each do |t|
                %tr
                  %td= t.username ? t.username : t.name
                  - role = @roles.where(:user => t.pk).first
                  %td= role[:position].capitalize rescue '-'
                  %td
                    %a#remove{:href => "/owner/projects/#{@project.pk}/remove_user/#{t.pk}"} 
                      %img{:src=>"/img/icons/view.png", :title => "Remove "}
          %a.badge{:href  => "/owner/projects/#{@project.pk}/users/add"} Edit collaborators


        #tab3.pane
          %table.datatable
            %thead
              %tr
                %th ID
                %th Stats
                %th User Stories
                %th Start Date
                %th Duration (days)
                %th Actions
            %tbody
              - @sprint.each do |t|
                %tr.selectable
                  %td 
                    %a{:href  => "/owner/projects/#{@project.pk}/sprints/"} t.id
                  %td= " "
                  %td= " "
                  %td= t.start_date
                  %td= t.duration
                  %td= " "
          %a.badge{:href  => "/owner/projects/#{@project.pk}/sprint_create"} Create new sprint



