!!!
.wrapsections
  .panel
    %fieldset
      %legend Project
      .tabs
        %ul
          %li.tab
            %a.nolink{:href => '#tab1'} Details
          %li.tab
            %a{:href => '#tab2'} Team
          %li.tab
            %a{:href => '#tab3'} Sprints
          %li.tab
            %a{:href => '#tab4'} Backlog
          %li.tab
            %a{:href => '#tab5'} Tests
        .clear

        #tab1 
          %a.badge{:href  => "/owner/projects/#{@project.pk}/edit"} Edit Details
          %table
            %tr
              %th Title
              %td= @project.title
            %tr
              %th Description
              %td= @project.description
            %tr
              %th Repository
              %td= @project.repo
            %tr
              %th Public
              %td= @project.public ? "Yes" : "No"
          -# if @current_owner.scrumMaster?

        #tab2.pane
          %a.badge{:href  => "/owner/projects/#{@project.pk}/users/add"} Edit collaborators
          %table.datatable
            %thead
              %tr
                %th Name
                %th Role
                %th.right.nosort Actions
            %tbody
              - @team.each do |t|
                %tr
                  %td= t.username ? t.username : t.name
                  - role = @roles.where(:user => t.pk).first
                  %td= role[:position].capitalize rescue '-'
                  %td.right.actions
                    - if @rights or t.pk == @current_owner.pk
                      %a#remove{:onclick => "return confirm('Are you sure?')", :href => "/owner/projects/#{@project.pk}/remove_user/#{t.pk}"} 
                        %img{:src=>"/img/icons/delete.png", :title => "Remove"}

        #tab3.pane
          %a.badge{:href  => "/owner/projects/#{@project.pk}/sprint/create"} Create new Sprint
          %table.datatable
            %thead
              %tr
                %th Charts
                %th User Stories
                %th Start Date
                %th Duration (days)
                %th Actions
            %tbody
              - @sprints.each do |s|
                %tr.selectable{:rel => "/owner/projects/#{@project.pk}/sprints/#{s.pk}/show"}
                  %td.right.actions
                    %a{:href => "/owner/projects/#{@project.pk}/sprints/#{s.pk}/burndown_chart/show"} 
                      %img{:src=>"/img/icons/chart.png", :title => "Burndown Chart"}
                  %td
                    %table
                      - s.user_stories.each do |u|
                        %tr
                          %td= u.title
                  %td= s.start_date
                  %td= s.duration
                  %td.right.actions
                    %a{:href => "/owner/projects/#{@project.pk}/sprints/#{s.pk}/show"} 
                      %img{:src=>"/img/icons/view.png", :title => "View sprint #{s.pk}"}
                    %a{:href => "/owner/projects/#{@project.pk}/sprints/#{s.pk}/edit"}
                      %img{:src => '/img/icons/edit.png', :title => "Edit sprint #{s.pk}"}

        #tab4.pane
          %a.badge{:href  => "/owner/projects/#{@project.pk}/user_stories/create"} Create new User Story
          %table.datatable
            %thead
              %tr
                %th Title
                %th Description
                %th Priority
                %th Difficulty
                %th Finished
                %th Validated
                %th.right.nosort Actions
            %tbody
              - @user_stories.each do |u|
                %tr.selectable{:rel => "/owner/projects/#{@project.pk}/user_stories/#{u.pk}/show"}
                  %td= u.title
                  %td= u.description
                  %td= u.priority
                  %td= u.difficulty
                  %td= u.finished ? "Yes" : "No"
                  %td= u.valid ? "Yes" : "No"
                  %td.right.actions
                    %a{:href => "/owner/projects/#{@project.pk}/user_stories/#{u.pk}/show"}
                      %img{:src => '/img/icons/view.png', :title => "view #{u.title}"}
                    %a{:href => "/owner/projects/#{@project.pk}/user_stories/#{u.pk}/edit"}
                      %img{:src => '/img/icons/edit.png', :title => "edit #{u.title}"}

        #tab5.pane
          %a.badge{:href  => "/owner/projects/#{@project.pk}/test/create"} Create new Test
          %table.datatable
            %thead
              %tr
                %th Title
                %th State
                %th Tester
                %th.right.nosort Actions
            %tbody
              - @tests.each do |t|
                - @tester = Owner.find(:id => t.owner_id)
                %tr
                  %td= t.title
                  - @state = ""
                  - case t.state
                  - when "not_tested"
                    - @state = "Not tested"
                  - when "failed"
                    - @state = "Test failed"
                  - when "success"
                    - @state = "Test successful"
                  - else
                    - @state = "Unknown"
                  %td= @state
                  %td= @tester.username
                  %td.right.actions
                    %a{:href => "/owner/projects/#{@project.pk}/user_stories/#{t.user_story.pk}/tests/#{t.pk}/show"}
                      %img{:src => '/img/icons/view.png', :title => "view #{t.title}"}
                    %a{:href => "/owner/projects/#{@project.pk}/user_stories/#{t.user_story.pk}/tests/#{t.pk}/edit"}
                      %img{:src => '/img/icons/edit.png', :title => "edit #{t.title}"}
                    %a{:onclick => "return confirm(\"Are you sure?\\n\\nThis operation is irreversible.\")", :href => "/owner/projects/#{@project.pk}/user_stories/#{t.user_story.pk}/tests/#{t.pk}/remove"}
                      %img{:src=>"/img/icons/delete.png", :title => "Remove"}
