!!! 5
%html{:lang => 'en'}
  %head
    %title
      MyScrum #{@title.blank? ? '' : "– #{@title}"}
      

    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}/

    - %w(jquery-1.7.2.min.js front_end.js jquery-ui-1.8.21.custom.min.js bootstrap-dropdown.js application.js slimbox2.js jquery.jqplot.min.js jqplot.pieRenderer.min.js).each do |j|
      %script{:type => 'text/javascript', :language => 'javascript', :src => "/js/#{j}"}             

    %link{:rel => "stylesheet", :type => "text/css",  :href => "/css/site.css"}
    

    %link{:href => 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700|Waiting+for+the+Sunrise', :rel => 'stylesheet', :type => 'text/css'}
    
    /[if lte IE 8] 
      %link{:rel => "stylesheet", :type => "text/css",  :href => "/css/site-ie.css"} 
      %link{:rel => "stylesheet", :type => "text/css",  :href => "/css/site768.css"} 
    
    
  %body{:class => @bclass, :id => @bid}
    #header{:role => 'header'}
      %h1 MyScrum
      #ownerlogin.floatright
        %a.badge{:href => '/'} Home
        - unless session[:owner]
          %a.badge{:href  => '/signup'} Sign Up
          %a.badge{:href  => '/owner/login'} Login 
        - else
          - number = current_owner.notifications.find_all{ |n| n.viewed == 0}.count
          - if number > 0
            %a.badge{:href => '/live'} Live (#{number})
          - else
            %a.badge{:href => '/live'} Live
          %a.badge{:href => '/owner/projects'} Projects
          %a.badge{:href => '/owner'} Account Settings
          %a.badge{:href => '/owner/logout'} #{current_owner.username} - Log Out

      #logo
        %a{:href => '/'}

    /content from views spits out here
    #contentwrap
      #content.group{:class => @cclass}
        = yield
