!!!
%html
  %head
    %meta{charset: "UTF-8"}/
    %title Signup
    %link{href: "registration.css", media: "all", rel: "stylesheet", type: "text/css"}/
  %body
    = form_for @user, :enctype => 'multipart/form-data' do |f|
      %ol
        %legend Registration
      %fieldset
        %ol
          %li
            = f.input :username, :label => 'Username'
          %li
            = f.input :first_name, :label => 'First name'
          %li
            = f.input :last_name, :label => 'Last name'
          %li
            = f.input :email, :label => 'Email'
          %li
            = f.input :password, {:type => 'password', :label => "Password"}
          %li
            = f.input :password_confirmation, {:type => 'password', :label => "Confirm your password"}
          %li
            %label{:for => "answer"}
              = @turing_test.question
            %input#turing_test_answer.vshort{:style => 'width: 50px;', :type => :text, :name => "turing_answer"}          
            .hint We just want to check that you're a real, live human being
            - if(@errors[:turing_answer].length > 0 rescue false)
              .error=@errors[:turing_answer]
      %fieldset
        %button{type: "submit"} Register
