.col.half.right
  #signuppanel
    = form_for @owner do |f|
      %fieldset
        = f.input :first_name, :label => "First name*"
        = f.input :last_name, :label => "Surname*"
        = f.input :email, :label => "Email address*"
        = f.input :password, {:type => 'password', :label => "Password*"}
        = f.input :password_confirmation, { :type => 'password', :label => "Password confirmation*" }
        -# = f.input :delivery_address_1, :label => "Address 1"
        -#         = f.input :delivery_address_2, :label => "Address 2"
        -#         = f.input :delivery_postcode, :label => "Postcode"
        -#         = f.input :mobile, :label => "Mobile Number"
        .field
          %label{:for => "answer"}
            = @turing_test.question
          %input#turing_test_answer.vshort{:style => 'width: 50px;', :type => :text, :name => "turing_answer"}          
          .hint We just want to check that you're a real, live human being
          - if(@errors[:turing_answer].length > 0 rescue false)
            .error=@errors[:turing_answer]
        
      = f.submit 'Sign up'