!!!
- @title = "User Stories"
%a{:href => "/owner/projects/#{@project.pk}/show#tab4"} Back to project
= form_for @user_story, :action => "/owner/projects/#{@project.pk}/user_stories/#{@user_story.pk}" do |f|
  %fieldset
    %legend= @user_story.new? ? "Create a new User Story" : "Edit \"#{@user_story.title}\""
    = f.input :title, :label => 'Title'
    = f.textarea :description, :input_options => {:rows => 6}, :label => 'Description'
    = f.input :priority, :label => 'Priority', :type => "number", :min => "1"
    = f.input :difficulty, :label => 'Diffilculty', :type => "number", :min => "1"
    = f.submit "Submit"
