!!!Strict
-@bclass = 'project edit'
  %table.datatable
    %thead
      %tr
        %th Id
        %th Title
        %th Description
        %th Priority
        %th Diffilculty
        %th Finished
        %th Validated
        %th.right.nosort Actions
    %tbody
      - @user_stories.each do |u|
        %tr.selectable
          %td= u.id
          %td= u.title
          %td= u.description
          %td= u.priority
          %td= u.difficulty
          %td= u.finished ? "Yes" : "No"
          %td= u.valid ? "Yes" : "No"
          %td.right.actions
            %a{:href => "/owner/users_tories/#{u.pk}/show"}
              %img{:src => '/img/icons/view.png', :title => "view #{u.title}"}
            %a{:href => "/owner/user_stories/#{u.pk}/edit"}
              %img{:src => '/img/icons/edit.png', :title => "edit #{u.title}"}