!!!
%a{:href => "/owner/projects/#{@project.pk}/show#tab4"} Back to project
.wrapsections
  .panel
    %fieldset
      %legend= @user_story.title
      .tabs
        %ul
          %li.tab
            %a.nolink{:href => '#tab1'} Details
          %li.tab
            %a{:href => '#tab2'} Jobs
        .clear

        #tab1
          %table
            %tr
              %th Id
              %td= @user_story.id
            %tr
              %th Title
              %td= @user_story.title
            %tr
              %th Description
              %td= @user_story.description
            %tr
              %th Priority
              %td= @user_story.priority
            %tr
              %th Difficulty
              %td= @user_story.difficulty
            %tr
              %th Finished
              - if @user_story.finished
                %td
                  %img{:src => '/img/icons/yes.png'}
              - else
                %td
                  %img{:src => '/img/icons/no.png'}
            %tr
              %th Validated
              - if @user_story.valid
                %td
                  %img{:src => '/img/icons/yes.png'}
              - else
                %td
                  %img{:src => '/img/icons/no.png'}

          %a.badge{:href  => "/owner/projects/#{@project.pk}/user_stories/#{@user_story.pk}/edit"} Edit

        #tab2
          %table.datatable
            %thead
              %tr
                %th Title
                %th Description
                %th Difficulty
                %th Status
            %tbody
              - @user_story.jobs.each do |j|
                %tr
                  %td= j.title
                  %td= j.description
                  %td.center= j.difficulty
                  %td.center
                    - case j.status
                    - when "todo"
                      %img{:src => '/img/icons/no.png', :title => "To do"}
                    - when "in progress"
                      %img{:src => '/img/icons/progress.png', :title => "In progress"}
                    - when "done"
                      %img{:src => '/img/icons/yes.png', :title => "Done"}
