!!!
%a{:href => "/owner/projects/#{@project.pk}/show#tab4"} Back to project
.wrapsections
  .panel
    %fieldset
      %legend User Story 
      %table
        %tr
          %th Id
          %td= @user_story.id
        %tr
          %th Title
          %td= @user_story.title
        %tr
          %th Description
          %td= @user_story.description
        %tr
          %th Priority
          %td= @user_story.priority
        %tr
          %th Diffilculty
          %td= @user_story.difficulty
        %tr
          %th Finished
          %td= @user_story.finished ? "Yes" : "No"
        %tr
          %th Validated
          %td= @user_story.valid ? "Yes" : "No"
          
      %a.badge{:href  => "/owner/user_stories/#{@user_story.pk}/edit"} Edit


